
.dropdown-wrapper {
    position: relative;
    display: inline-block;
    width: 300px;
    border-radius: 4px 4px 0 0 ;
    padding: 0 5px 5px;
    background-color: var(--dropdown-background-color);
}

.dropdown-wrapper:focus-within {
    border-bottom: blue solid 2px ;
}

.label {
    font-size: x-small;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-input {
    width: 300px;
    padding: 0;
    border: 0;
    color: blue;
    font-weight: bold;
    background-color: var(--dropdown-background-color);
}
.dropdown-input::placeholder {
    color: darkgray;
    font-weight: normal;
}

.dropdown-input:focus-visible {
    outline: 0;
}
.dropdown-input:focus-visible::placeholder {
    color: transparent;
}

.clear-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown-list {
    position: absolute;
    width: 300px;
    max-height: 200px;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: auto;
    margin: 1rem 0 0 0 ;
    padding: 0;
    list-style: none;
    z-index: 1000;
}

.dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: aliceblue;
    font-weight: bold;

}

.icon-blue {
    color: blue;
}

.selected {
    background-color: aliceblue;
    font-weight: bold;
}
.selected:hover {
    background-color: lightblue;
}
