.details-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
    border: gray 1px solid;
    border-radius: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
}

.weight-text {
    padding-top: 0.5rem;
    font-size: smaller;
}
